/EmPubLite/.gradle
/EmPubLite/local.properties
/EmPubLite/.idea/workspace.xml
/EmPubLite/.idea/libraries
/EmPubLite/.DS_Store
/EmPubLite/build

/MyApplication/.gradle
/MyApplication/local.properties
/MyApplication/.idea/workspace.xml
/MyApplication/.idea/libraries
/MyApplication/.DS_Store
/MyApplication/build
